[DEFAULT]
username = root
password = calvin
vnc_port = 5901
vnc_password = vnc_pass

[host01.example.com]
username = admin
password = admin

[host02.example.com]
vnc_port = 5902
vnc_password = host02_vnc_pass

[host03.example.com]
username = operator
password = s3cure_pass
vnc_port = 5903
vnc_password = host03_vnc_pass
